**/.git
**/.DS_Store
**/.gitignore
**/.editorconfig
**/.env.local
**/.env.*.local
**/docker-compose*.yaml
**/compose*.yaml
**/Dockerfile
**/.dockerignore
**/README.md
**/LICENSE
**/.github
**/.idea
**/.vscode
**/node_modules
**/var/
!**/var/empty
**/vendor/
**/public/bundles/
**/*.md
**/.php-cs-fixer.cache
**/.php-cs-fixer.dist.php
**/.phpunit.result.cache
**/phpunit.xml.dist
**/tests
**/check_ssl.sh
**/run_store_migration.sh
**/test_password_apis.sh
**/pgadmin_data/

