* text=auto eol=lf

*.php diff=php

# Prevent .env files from being exported
.env export-ignore
.env.* export-ignore

# Test files
/tests export-ignore
phpunit.xml.dist export-ignore
.phpunit.result.cache export-ignore

# Git files
.gitattributes export-ignore
.gitignore export-ignore

# CI/CD
/.github export-ignore
