<div{{ attributes.add(stimulus_target('ui--alert-dialog', 'title')).without('class') }}
        class="{{ ['text-lg font-semibold', attributes.render('class')] | tailwind_merge }}">
    {% block content %}{% endblock %}
</div>