{
	frankenphp {
		worker {
			file public/index.php
			num {$FRANKENPHP_NUM_WORKERS:2}
			env APP_RUNTIME Runtime\FrankenPhpSymfony\Runtime
		}
	}
}

{$SERVER_NAME:localhost} {
	root * public/
	encode zstd br gzip
	
	# Disable Topics tracking
	header ?Permissions-Policy "browsing-topics=()"
	
	frankenphp
	php_server
}

