{% props inset = false %}

<div {{ attributes.without('class') }}
    class="{{ [
        'px-2 py-1.5 text-foreground text-sm font-semibold',
        inset ? 'pl-8' : '',
        attributes.render('class')
    ] | tailwind_merge}}"
>
    {% block content %}{% endblock %}
</div>