<div {{ attributes.without('class') }}
    role="menuitemradio"
     class="{{ [
        'relative flex cursor-default select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none transition-colors focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50',
        attributes.render('class')
     ] | tailwind_merge }}"
     data-state="checked" tabindex="-1">
    <span class="absolute left-2 flex h-3.5 w-3.5 items-center justify-center">
        <span data-state="checked">
            <twig:ux:icon name="radix-icons:dot-filled" class="h-4 w-4 fill-current"/>
        </span>
    </span>
    {% block content %}{% endblock %}
</div>