{% props inset = false %}

{% if outerScope.trigger == 'hover' %}
    {% set action = stimulus_action('ui--popover', 'toggle', 'mouseenter')|stimulus_action('ui--popover', 'hide', 'focusout') %}
{% elseif outerScope.trigger == 'focus' %}
    {% set action = stimulus_action('ui--popover', 'toggle', 'focusin') %}
{% else %}
    {% set action = stimulus_action('ui--popover', 'toggle', outerScope.trigger) %}
{% endif %}

<div{{ attributes.add(stimulus_target('ui--popover', 'trigger')).add(action).without('class') }}
        class="{{ [
            'flex cursor-default select-none text-foreground items-center rounded-sm px-2 py-1.5 text-sm outline-none focus:bg-accent hover:bg-accent data-[state=open]:bg-accent',
            inset ? 'pl-8' : '',
            attributes.render('class')] |tailwind_merge }}">
    {% block content %}{% endblock %}
    <twig:ux:icon name="radix-icons:chevron-right" class="ml-auto h-4 w-4"/>
</div>