{% props variant = 'default' %}

{% set alertVariants = cva({
    base: 'backdrop-blur relative w-full rounded-lg border px-4 py-3 text-sm [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:text-foreground [&>svg~*]:pl-7 ',
    variants: {
        variant: {
            default: "bg-muted/20 text-foreground",
            destructive: "bg-destructive/5 border-destructive/50 text-destructive dark:border-destructive [&>svg]:text-destructive",
            warning: "bg-warning/5 border-warning/50 text-warning dark:border-warning [&>svg]:text-warning",
            success: "bg-success/5 border-success/50 text-success dark:border-success [&>svg]:text-success",
        }
    },
    defaultVariants: {
        variant: "default",
    },
}) %}

<div{{ attributes.without('class') }}
        class="{{ alertVariants.apply({ variant }, attributes.render('class') ?? '') | tailwind_merge }}">
    {% block content %}{% endblock %}
</div>