<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if app.environment != 'test' %}
        <meta name="view-transition">
    {% endif %}

    <title>{% block title %}Welcome!{% endblock %} - JoyPharma</title>
    <link rel="icon" href="{{ asset('images/icon.png') }}">

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
{% block body %}{% endblock %}
</html>
