{% props value = null %}

<div {{ attributes.add(stimulus_target('ui--select', 'item')).add(stimulus_action('ui--select', 'hide', 'click')).add(stimulus_action('ui--select', 'selectItem', 'click')).without('class') }}
        role="menuitem"
        data-value="{{ value }}"
        class="{{ ['group/selectitem text-foreground relative flex cursor-pointer select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none transition-colors hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground aria-selected:bg-accent aria-selected:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50', attributes.render('class')] |tailwind_merge }}"
>
    <span class="absolute right-2 flex h-3.5 w-3.5 items-center justify-center hidden group-data-[selected=true]/selectitem:block">
        <twig:ux:icon name="radix-icons:check" class="w-4 h-4"/>
    </span>
    {% block content %}{% endblock %}
</div>