<div {{ attributes.add(stimulus_target('ui--dialog', 'title')).without('class') }}
        class="{{ ['text-lg font-semibold leading-none tracking-tight', attributes.render('class')] | tailwind_merge }}">
    {% block content %}{% endblock %}
</div>