{% extends 'admin/layout.html.twig' %}

{% block content %}
    <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-8 w-[85rem]">
        <div class="gap-4  md:gap-8">
            <twig:ui:card:root class="w-full h-full">
                <twig:ui:card:header>
                    <twig:ui:card:title>{{ 'Product'|trans }}</twig:ui:card:title>
                    <twig:ui:card:description>
                        {{ 'Manage Product'|trans }}
                    </twig:ui:card:description>
                </twig:ui:card:header>
                <twig:ui:card:content>
                    {{ data_table(datatable) }}
                </twig:ui:card:content>
            </twig:ui:card:root>
        </div>
    </main>
{% endblock %}
