{% set labelVariants = cva({
    base: 'text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70',
}) %}

<label {{ attributes.without('class') }} class="{{ labelVariants.apply({}, attributes.render('class') ?? '') | tailwind_merge }}">
    {% block content %}{% endblock %}
</label>