name: Deploy - Prepare Deployment

on:
  workflow_call:
  workflow_dispatch: ~

jobs:
  prepare:
    name: Prepare Deployment Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy deployment files to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: "compose.yaml,compose.prod.yaml,frankenphp"
          target: "joypharma/"
          strip_components: 0
          overwrite: true

